body {
    padding: 0;
    margin: 0;
    background-color: aliceblue;
    background-image: url(../img/meme.jpg);
    background-size: cover;
}

button {
    border: 1px solid rgb(71, 2, 2);
    background-color: rgb(243, 11, 11);
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
}

button:active {
    background-color: rgb(71, 2, 2);
    border: 1px solid rgb(243, 11, 11)
}

.container-fluid {
    box-shadow: 3px 5px 10px 0 rgba(18, 122, 122, 0.1);
    background-color: cadetblue;
}

p {
    text-align: center;
}

#a, #b {
    width: 40%;
    font-size:medium;
}

#input::placeholder {
    font-size: 1.2rem;
    color: rgb(161, 163, 175);
}

#resultado {
    color: whitesmoke;
    font-size:xx-large;
}

#magicGif {
    width:50%;   
}