.logo-img {
    width: 100px;
}

nav {   
    background: url(../img/fondo.jpg) repeat-x;
    background-size: contain;
    color: gray;
}

.navbar-bar {
    justify-content: center;
}

h2 {
    text-decoration: overline;    
}

.timg {
    width: 100%;
    height: 185px;
}

.carousel-img {
    width: 100%;
    height: 550px;
}

.footer {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    height: 170px;
}

select.minimal {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
  }
  
  select.minimal:focus {
    background-image:
      linear-gradient(45deg, rgb(128, 128, 128) 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, rgb(114, 114, 114) 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color: rgb(172, 172, 172);
    outline: 0;
  }
  
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }